<nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
  <ul>
    <li><a href="#">CrawlerGov</a></li>
    <li><a href="#">News</a></li>
    <li class="is-active"><a href="#" aria-current="page">Index</a></li>
  </ul>
</nav>
<span class="tag is-warning is-medium">Total de Dados: <%= @total_news %></span>
<button class="button is-primary is-small" id="show">Search</button>
<button class="button is-primary is-danger" id="hide">Hide</button>
<br/>
