<%= form_with(model: news, local: true) do |form| %>
  <% if news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle %>
  </div>

  <div class="field">
    <%= form.label :publish_data %>
    <%= form.date_select :publish_data %>
  </div>

  <div class="field">
    <%= form.label :collection_date %>
    <%= form.date_select :collection_date %>
  </div>

  <div class="field">
    <%= form.label :body_text %>
    <%= form.text_field :body_text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
