<div class="columns is-mobile is-centered is-hidden">
  <div class="loadering column is-half">
    <p class="bd-notification is-primary">
      <code class="html">Processando Jobs no Crawler ...</code><br>
    </p>
    <figure class="image is-flex is-justify-content-center">
      <img  src="https://media.giphy.com/media/LeQ4gz6XOhla8/source.gif">
    </figure>
  </div>
</div>
