<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://cdn4.iconfinder.com/data/icons/seo-glyph-style/150/web-crawler-512.png">
      CrawlerGov
    </a>
    <div class="navbar-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="https://bulma.io/">
        Home
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="is-info button" target="_blank" href="https://www.linkedin.com/in/henriqueutsch/">
              <span>
                My Linkedin
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-primary" target="_blank" href="https://gitlab.com/henriqueutsch/crawler">
              <span>Project Link</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
