<p id="notice"><%= notice %></p>

<h1>News</h1>

<table>
  <thead>
    <tr>
      <th>Source</th>
      <th>Url</th>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Publish data</th>
      <th>Collection date</th>
      <th>Body text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |news| %>
      <tr>
        <td><%= news.source %></td>
        <td><%= news.url %></td>
        <td><%= news.title %></td>
        <td><%= news.subtitle %></td>
        <td><%= news.publish_data %></td>
        <td><%= news.collection_date %></td>
        <td><%= news.body_text %></td>
        <td><%= link_to 'Show', news %></td>
        <td><%= link_to 'Edit', edit_news_path(news) %></td>
        <td><%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New News', new_news_path %>
