<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<%= render "navbar" %>
<br/>
<br/>
<div class="columns">
  <div class="column"></div>
  <div class="column is-four-fifths">
    <%= render "breadcrumb-search" %>
    <%= render "loader" %>
    <br>
    <div id="searchbox">
      <%= datagrid_form_for @grid, :method => :get, :url => news_index_path %>
    </div>
    <% if @total_news > 0 %>
      <%= paginate(@grid.assets) %>
      <%= datagrid_table @grid %>
      <%= paginate(@grid.assets) %>
    <% else %>
    <div class="notification is-warning">
      <button class="delete"></button>
      O sistema ainda nao possui dados, inicie a coleta de dados para ver algum resultado.
      Execute: <strong>rake run_crawler:mds</strong>
    </div>
    <% end %>
  </div>
  <div class="column"></div>
</div>


<script>
$(document).ready(function(){
  $("#searchbox").hide();
  $("#hide").hide();
  $("#hide").click(function(){
    $("#searchbox").hide();
    $("#hide").hide();
    $("#show").show();
  });
  $("#show").click(function(){
    $("#searchbox").show();
    $("#show").hide();
    $("#hide").show();
  });
});
</script>
