<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @news.source %>
</p>

<p>
  <strong>Url:</strong>
  <%= @news.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @news.subtitle %>
</p>

<p>
  <strong>Publish data:</strong>
  <%= @news.publish_data %>
</p>

<p>
  <strong>Collection date:</strong>
  <%= @news.collection_date %>
</p>

<p>
  <strong>Body text:</strong>
  <%= @news.body_text %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
