// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  thead {
    .title {
      font-size: 1em;
    }
    .subtitle {
      font-size: 1em;
      font-weight: bold;
    }
  }
  tbody {
    .title {
      font-weight: normal;
      font-size: 13px;
    }
    .subtitle {
      font-size: 13px;
    }
  }
}

.navbar {
  background-color: #eeeee4 !important;
}

#show, #hide {
  height: 32px;
  margin-left: 10px;
}

.navbar-brand {
  a {
    margin-left: 20px;
  }
  img {
    padding-right: 10px;
  }
}

.breadcrumb ul li a {
  font-size: 18px;
}

.loadering {
  p {
    text-align: center;
  }
  figure {
    img {
      width: 50%;
      height: 50%;
    }
  }
}
